.education-container h2{
    color: rgb(228, 228, 228);
    font-weight: normal;
}

.cap-images{
    display: flex;
    list-style: none;
    position: relative;
    text-align: center;
}

.cap-image{
    width: 200px;
    height: 100px;
}

.cap-image-text{
    color: rgb(228, 228, 228);
}

.info-paragraph{
    color:white;
}

.emphasis{
    font-weight: bold;
    color: rgb(219, 147, 13);
}

.portrait-image{
    width:600px;
    float: left;
}

.education-text{
    text-align: center;
    width: 600px;
    background-color: rgb(219, 147, 13);
    color:rgb(22, 22, 22);
}

#cs-image{
    opacity: 20%;
}

#cs-text{
    position: absolute;
    color: white;
    top: 30%;
    margin-left: 40px;
}
